body {
    background-color: Linen;
}
.index-page #main-title {
    color: linen;
    font-family: Palatino;
    margin-left: 35px;
    border: 2px solid #5D2E0A;
    border-radius: 12px;
    padding: 15px;
    background-color: #5D2E0A;
    width: fit-content;
    }
.description1 {
    font-size: 18px;
    color:#5D2E0A;
    font-family: Palatino;
    }
.main-photo {
    transform: translate(460px, -260px);
    border-radius: 15px;
    }
.my-button {
   display: block;
   background-color: #5D2E0A;
   color: Linen;
   padding: 12px 35px;
   text-decoration: none;
   border-radius: 15px;
   font-family: Palatino, serif;
   font-weight: bold;
    margin-top: 20px;
    margin-left: 35px;
    clear: both;
    }
.my-button:hover {
   background-color: #3E1F07;
   color: linen;
}
#gallerytitle {
    color: #5D2E0A;
    font-family: Palatino;
    margin-left: 15px;
    margin-bottom: 50px;
    border: 2px solid #5D2E0A;
    border-radius: 12px;
    padding: 15px;
    background-color: linen;
    width: fit-content;
    display: block;
    }
.Lilechka {
    display: flex;
    gap: 25px;
  }
.Lilechka img {
    border-radius: 15px;
     border: 2px solid #5D2E0A;
    background-color: #5D2E0A;
    padding: 6px;
 }
.Contacts {
    background-color: #fdf5e6;
}
 #titleContacts {
    color: #5D2E0A;
    font-family: Palatino;
    margin-left: 15px;
    border: 2px solid #5D2E0A;
    border-radius: 12px;
    padding: 15px;
    background-color: linen;
    width: fit-content;
 }
.button-Lilya a {
    text-decoration: none;
    border: none;
    outline: none;
}
